# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails
.Spotlight-V100
.Trashes

# Directories
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# iCloud
.icloud